.pageWrapper{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235 231 231 / 38%);
}
h2{
    font-size: 2rem;
    margin-left: 5%;
}
.wrapper{
    width:95%;
    margin:0 auto;
    
}
.pageHeading{
    text-align: center;
    padding: 10px;
}
table, td, th {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    text-align: center;
  }  
  .inputDiv{
      margin:10px 0;
      text-align: center;
      
  }
  .submitBtn{
    height: 25px;
    background-color: #007bff;    
    box-shadow: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-left: 15px;
    color: #fff;
  }
  .inputBox,.srchinputBox{
    height: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #007bff;
  }
  .inputBox:focus-visible, .srchinputBox:focus-visible{
    border-bottom: 1px solid #007bff;
    outline: none;
  }
  .srchinputBox{
      margin-right:15px;
  }
  .nodata{
      text-align: center;
      font-style: italic;
      font-weight: 600;
      margin-top:100px
  }
.footer{
    width:90%;
    margin:15px auto;
    font-size: 1rem;
    font-weight: 600;
}
.filterdiv{
    border:1px solid #007bff;
    padding:20px;
    margin-bottom: 20px;
}
.filterdiv p{
    font-weight: 600;
}
@media (min-width: 1024px)and (max-width: 1440px) {
    .pageWrapper{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(235 231 231 / 38%);
    }
    .wrapper{
        width:98%;
        margin:0 auto;
        
    }
    .filterParent{
        width: 25%;
        float: left;
        margin-left:1%;
    }
    .searchResultsParent{
        width: 73%;
        float: right;
        margin-top:0px !important;
        margin-right: .5%;
        margin-bottom: .5%;
    }
    .clearfix{
        clear: both;
    }
    .launchBoxParent{
        width: 20%;
        display: inline-block;
    }
    h2{
        font-size: 1rem;
        margin-left: 5%;
    }
    .footer{
        text-align: center;
    }
    .filterParent ul li{
        margin-left: 10% !important;
        font-size: 1rem !important;
    }
   
}