<div class="pageWrapper">
<div class="wrapper">
  <header class="pageHeading">
      <h1>Github Search Repo</h1>
  </header>
  <div class="inputDiv">
      <input class="inputBox" type="text" placeholder="Enter Username" [(ngModel)]="username"/>
      <button type="submit" name="Submit" class="submitBtn" (click)="Submit()">Submit</button>
  </div>
 
    <div *ngIf="defaultResponse.length>0" class="filterdiv">
     <p>Filters</p>
      <input  class="srchinputBox" type="text" placeholder="Enter repo name"  [(ngModel)]="srch_repo">
      
      <input  class="srchinputBox" type="text" placeholder="Enter owner"  [(ngModel)]="srch_owner">
      
      <input  class="srchinputBox" type="number" placeholder="Enter stargazers count"  [(ngModel)]="srch_star">
      <input  class="srchinputBox" type="number" placeholder="Enter open issues count"  [(ngModel)]="srch_issuecount">
      <input class="srchinputBox" type="number" placeholder="Enter watchers count"  [(ngModel)]="srch_watch">
      <button type="submit" class="submitBtn" (click)="SearchBy()">Search</button>
      <button type="submit" class="submitBtn" (click)="ClearSearch()">Clear Search</button>
    </div>
 
  <div *ngIf="defaultResponse.length>0">
    <table >
        <tr >
          <th>Owner</th>
          <th>Name</th>
          <th>Description</th>
          <th>Stars</th>
          <th>Open issue count</th>
          <th>Watchers</th>
        </tr>
        <tr  *ngFor="let user of defaultResponse">
          <td >
              <div>
                  {{user.owner.login}}
                    <span><img src={{user.owner.avatar_url}} height='20px' width='20px' alt="{{user.owner.login}}"/></span>
              </div>
              
          </td>
          <td>
              {{user.name}}
          </td>
          <td>
            {{user.description}}
          </td>
          <td>
              {{user.stargazers_count}}
          </td>
          <td>
            {{user.open_issues_count}}
        </td>
        <td>
            {{user.watchers_count}}
        </td>
        </tr>
        
      </table>
  </div>
  <div *ngIf="defaultResponse.length==0">
    <p class="nodata">No data to display</p>
  </div>
</div>
<footer class="footer"><span>Developed By:</span>Aishwarya Kulkarni</footer>

</div>